---
import Hero from "@/components/sections/Hero.svelte";
import Layout from "@/layouts/Layout.astro";
import About from "@/components/sections/About.svelte";
import Experience from "@/components/sections/Experience.svelte";
import Projects from "@/components/sections/Projects.svelte";
import Skills from "@/components/sections/Skills.svelte";
import Education from "@/components/sections/Education.svelte";
import KeyboardManager from "@/components/KeyboardManager.astro";

import { basics } from "@cv";
import Languages from "@/components/sections/Languages.svelte";
import LanguageSelector from "@/components/LanguageSelector.svelte";
const { name, label, image, summary } = basics;
---

<Layout
  title={`Portafolio de ${name} - ${label}`}
  description={summary}
  image={image}
>
  <main>
    <LanguageSelector client:visible />
    <Hero client:visible />
  </main>
  <KeyboardManager />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }

  @media (width <= 768px && width >= 481px) {
    main {
      padding: 3rem;
    }
  }

  @media (width <= 480px) {
    main {
      padding: 2rem;
    }
  }
</style>
