---
interface Props {
  title?: string;
  startOfPage?: boolean;
}

const { title, startOfPage } = Astro.props;
---

<section data-start={startOfPage}>
  {title && <h2>{title}</h2>}
  <slot />
</section>

<style>
  section {
    max-width: 700px;
    margin: 0 auto 32px;
  }

  h2 {
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.5rem;
  }

  @media print {
    section[data-start] {
      page-break-before: always;
      margin-top: 3rem;
    }
  }
</style>
